.profile__columns {
  grid-area: info;
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  justify-content: center;
  width: 336px;
}


@media screen and (max-width: 730px) {
  .profile__columns {
 width: 282px;
  }
}

