.popup__input {
  margin: 0 auto;
  border: none;
  width: 100%;
  padding: 0 0 8px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid #00000033;
}

@media screen and (max-width: 500px) {
  .popup__input {
    width: 238px;
  }
}