.profile {
  display: grid;
  padding-top: 41px;
  padding-bottom: 50px;
  width: 100%;
  grid-template-columns: 120px 1fr auto;
  grid-template-areas:
  "photo name-edit add-button";
  row-gap: 8px;
  column-gap: 30px;
}

@media screen and (max-width: 730px) {
  .profile {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "photo name-edit"
      "photo add-button";
  }
}

@media screen and (max-width: 500px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-areas:
      "photo"
      "name-edit"
      "add-button";
    row-gap: 27px;
    padding-bottom: 38px;
  }
}