.header__logo{
  margin: 0;
  height: 33px;
  width: 142px;
  padding-bottom: 38px;
}


@media screen and (max-width: 900px) {
  .header__logo {
    height: 24px;
    width: 104px;
    margin-left: 27px;
    padding-bottom: 28px;
  }
}

