.photo-grid__item {
  min-height: 361px;
  display: grid;
  background-color: #fff;
  border-radius: 10px;
  grid-template-areas:
    "image image image image image"
    "title title title title like";
}