.popup__container-update-avatar{
    width: 430px;
    min-height: 272px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #00000026;
    position: relative;
    z-index: 999;
  }
  
  @media screen and (max-width: 500px) {
    .popup__container-update-avatar {
      width: 282px;
     
    }
  }