.popup__button_disabled {
  user-select: none;
  background-color: #ffffff; 
  /* для opacity 0.2 используется HEX с альфа-каналом */
  color: #00000033;
  border: 1px solid #00000033;
  border-radius: 2px;
  cursor: auto;
}

.popup__button_disabled:hover {
  opacity: 1;
}